body{
	background-image: linear-gradient(#E1EFFC, #9BB2C7);
        background-repeat: no-repeat;
        background-attachment: fixed;
	position: static;
	padding: 0px;
}

.primElemento{
    margin-top: 150px;
}

.divBtnPesquisa{
    text-align: center;
}

.divFormConteudo{
    text-align: center;
}

.inputConteudo{
    width: 50%;
}

div{border-radius: 7px 7px 7px 7px;}


.navbar{
    background: rgb(227, 241, 255);
    background: rgba(227, 241, 255, 0);
    border-style: hidden;
}

.divResultado{
    margin-top: 100px;
}

.tblResultado{
    border-style: hidden;
}

ul{	list-style-type:none }

img{max-height:150px; margin-left:0px;	margin-right: auto; margin-bottom: 20px}

.table-striped > tbody > tr:nth-of-type(2n) {background-color: #E6FED8;}

td:last-child{text-align:center; width: 20%}

td:first-child{width:20%}

footer{float: center; padding-top: 3%;}

footer div{min-height:70px; margin-left: 35%;}

fieldset:nth-child(odd){
	background-color: #FFF7E0;
	padding: 10px 10px 10px 10px;
}


fieldset:nth-child(even){
	background-color: #D4C9AC;
	padding: 10px 10px 10px 10px;
}