body{
	background-image: linear-gradient(#E1EFFC, #9BB2C7);
        background-repeat: no-repeat;
        background-attachment: fixed;
	position: static;
	padding: 0px;
}

/*Configurações do formulário de pesquisa*/
.primElemento{
    margin-top: 150px;
}

.divBtnPesquisa{
    text-align: center;
}

.divFormConteudo{
    text-align: center;
}

.inputConteudo{
    width: 50%;
}

div{border-radius: 7px 7px 7px 7px;}

/*Configurações do header*/
ul{	list-style-type:none }

img{max-height:150px; margin-left:0px;	margin-right: auto; margin-bottom: 20px}

.navbar{
    background: rgb(227, 241, 255);
    background: rgba(227, 241, 255, 0);
    border-style: hidden;
}

.navbar-header{
    background-color: #E3E8FC;
    text-align: center;
    width: available;

}
.menu{
    list-style-type: none;
}

.divResultado{
    margin-top: 100px;
}

.tblResultado{
    border-style: hidden;
}

.table-striped > tbody > tr:nth-of-type(2n) {background-color: #E6FED8;}

td:last-child{
    vertical-align: middle;
    text-align:left;
    width: 20%;
    padding-left: 20px;
    padding-bottom: 20px;
}

td:first-child{
    vertical-align: middle;
}

.tareaTitExtraido{
    width: 90%;
    height: 100%
}

.tareaAutExtraido{
    width: 100%;
}